<div class="nutrition-heatmap-content">
    <div
        class="heatmap-months"
        id="nutrition-heatmap-months"
    ></div>

    <div
        id="nutrition-heatmap-grid"
        class="heatmap-grid"
        aria-label="Heatmap харчування"
    ></div>

    <div class="heatmap-legend">
        <span>Менше</span>

        <div
            class="legend-box l0"
            aria-label="Немає даних"
        ></div>

        <div
            class="legend-box l1"
            aria-label="Рівень 1"
        ></div>

        <div
            class="legend-box l2"
            aria-label="Рівень 2"
        ></div>

        <div
            class="legend-box l3"
            aria-label="Рівень 3"
        ></div>

        <div
            class="legend-box l4"
            aria-label="Рівень 4"
        ></div>

        <div
            class="legend-box l5"
            aria-label="Рівень 5"
        ></div>

        <div
            class="legend-box l6"
            aria-label="Рівень 6"
        ></div>

        <span>Більше</span>
    </div>
</div>