{% extends "app/base_app.html" %} {% block title %}Тест фізичної підготовки —
NOSIFIT{% endblock %} {% block body %}

<h2 class="page-title">Тест фізичної підготовки</h2>

<form method="POST" class="form-card">
  <label>Максимум віджимань за 1 підхід:</label>
  <input type="number" name="pushups" required />

  <label>Максимум присідань за 1 підхід:</label>
  <input type="number" name="squats" required />

  <label>Планка (секунди):</label>
  <input type="number" name="plank" required />

  <button type="submit" class="btn-primary">Завершити тест</button>
</form>

{% endblock %}
