{% extends "app/base_app.html" %} {% block title %}Анкета{% endblock %} {% block
body %}

<h2 class="page-title">Персональна анкета</h2>

<form method="POST" class="form-card">
  <div class="form-section">
    <h3>Де ти тренуєшся</h3>
    <select name="environment" required>
      <option value="gym">Зал</option>
      <option value="home">Дім</option>
      <option value="outdoor">Вулиця</option>
    </select>
  </div>

  <div class="form-section">
    <h3>Естетична ціль</h3>
    <select name="aesthetic_focus">
      <option value="">Немає</option>
      <option value="chest">Груди</option>
      <option value="back">Спина</option>
      <option value="shoulders">Плечі</option>
      <option value="arms">Руки</option>
      <option value="legs">Ноги</option>
      <option value="glutes">Сідниці</option>
      <option value="core">Прес</option>
    </select>
  </div>

  <div class="form-section">
    <h3>Фізична ціль</h3>
    <select name="performance_focus">
      <option value="">Немає</option>
      <option value="strength">Сила</option>
      <option value="endurance">Витривалість</option>
      <option value="mobility">Мобільність</option>
      <option value="pushups">Більше віджимань</option>
      <option value="pullups">Більше підтягувань</option>
    </select>
  </div>

  <div class="form-section">
    <h3>Сильні сторони</h3>

    <label
      ><input type="checkbox" name="strong_points" value="chest" /> Груди</label
    >
    <label
      ><input type="checkbox" name="strong_points" value="back" /> Спина</label
    >
    <label
      ><input type="checkbox" name="strong_points" value="legs" /> Ноги</label
    >
    <label
      ><input type="checkbox" name="strong_points" value="core" /> Кор</label
    >
  </div>

  <div class="form-section">
    <h3>Слабкі сторони</h3>

    <label
      ><input type="checkbox" name="weak_points" value="chest" /> Груди</label
    >
    <label
      ><input type="checkbox" name="weak_points" value="back" /> Спина</label
    >
    <label
      ><input type="checkbox" name="weak_points" value="legs" /> Ноги</label
    >
    <label><input type="checkbox" name="weak_points" value="core" /> Кор</label>
    <label
      ><input type="checkbox" name="weak_points" value="lower_back" />
      Поперек</label
    >
  </div>

  <button type="submit" class="btn-primary">Зберегти</button>
</form>

{% endblock %}
