<nav class="nav-root">
  <div class="nav-left">
    <a href="/" class="nav-logo-link">
      <img src="/static/img/Nosi_Logo.png" class="nav-logo-img" />
    </a>

    <div class="nav-links">
      <a href="/" class="nav-link">Головна</a>
      <a href="/about" class="nav-link">Про нас</a>
      <a href="/contact" class="nav-link">Контакти</a>
      <a href="/demo" class="nav-link">Демо</a>
    </div>
  </div>

  <div class="nav-right">
    <a href="auth/login" class="nav-btn nav-btn-login" data-glow="yellow"
      >Увійти</a
    >
    <a href="auth/register" class="nav-btn nav-btn-register" data-glow="yellow"
      >Реєстрація</a
    >
  </div>
</nav>
