{% extends "public/base_public.html" %}

{% block title %}{{ public_t("meta.landingTitle") }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/buttons.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/cards.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/landing.css') }}" />
{% endblock %}

{% block before_nav %}
<a class="lp-skip" href="#lp-content">{{ L.skip }}</a>
{% endblock %}

{% block body %}
<div class="lp" id="lp-content" tabindex="-1">
  {% include "public/landing/_hero.html" %}
  {% include "public/landing/_context.html" %}
  {% include "public/landing/_modules.html" %}
  {% include "public/landing/_history.html" %}
  {% include "public/landing/_telegram.html" %}
  {% include "public/landing/_model.html" %}
  {% include "public/landing/_cta.html" %}
</div>
{% endblock %}

{% block after_main %}
{% include "public/landing/_footer.html" %}
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/pages/landing.js') }}"></script>
{% endblock %}
